* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.2em;
}

/* -------------------
COLOUR VARIABLES
------------------- */

$dark-gray: rgb(34, 34, 34);
$gray: rgb(210, 210, 210);
$light-gray: rgb(238, 238, 238);
$primary: rgb(255, 242, 168);
$accent: rgb(255, 174, 0);
$note: rgb(124, 124, 255);

/* -------------------
TYPOGRAPHY
------------------- */

.title {
  text-align: center;
  padding: 0.5em 0;
  font-size: 3rem;
  margin-top: 5rem;
}

.subtitle {
  font-size: 1rem;
}

.error {
  padding: 0.75em 0;
  text-align: center;
  font-size: 0.8rem;
  width: 180px;
  opacity: 0;
  border: 3px dashed red;
  color: red;
}

.note-message {
  font-size: 0.6rem;
  width: 180px;
  text-align: center;
}

/* -------------------
LAYOUT
------------------- */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 5px solid $dark-gray;
  border-radius: 5px;

  :nth-child(9n-6),
  :nth-child(9n-3) {
    border-right: 3px solid $dark-gray;
  }

  :nth-child(19),
  :nth-child(20),
  :nth-child(21),
  :nth-child(22),
  :nth-child(23),
  :nth-child(24),
  :nth-child(25),
  :nth-child(26),
  :nth-child(27),
  :nth-child(46),
  :nth-child(47),
  :nth-child(48),
  :nth-child(49),
  :nth-child(50),
  :nth-child(51),
  :nth-child(52),
  :nth-child(53),
  :nth-child(54) {
    border-bottom: 3px solid black;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  min-height: calc(75px * 9);
}

/* -------------------
BLOCKS
------------------- */

.block,
.original,
.notes {
  width: 50px;
  height: 50px;
  border: 2px solid $gray;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  background-color: white;
  cursor: pointer;
  color: $accent;
}

.original {
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $gray;
  color: $dark-gray;
}

.notes {
  position: relative;
  :nth-child(9n-6),
  :nth-child(9n-3) {
    border-right: none;
  }
}

.note {
  font-size: 10px;
  color: $note;
  position: absolute;
}

.note-mode {
  border: 3px solid $note;
}

.note1,
.note4,
.note7 {
  left: 8%;
}

.note2,
.note5,
.note8 {
  left: 40%;
}

.note3,
.note6,
.note9 {
  left: 75%;
}

.note4,
.note5,
.note6 {
  top: 35%;
}

.note7,
.note8,
.note9 {
  top: 70%;
}

.focus {
  display: block;
  border: 3px solid $accent;
}

.original-focus {
  border: 3px solid $dark-gray;
}

/* -------------------
BUTTONS
------------------- */

.btn {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  font-weight: 600;
  outline: none;
  width: 180px;
  border-radius: 10px;
  border: 2px solid $gray;
  transition: 250ms ease;
  color: black;
  background-color: $light-gray;
}

.active {
  background-color: $accent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
    letter-spacing: 0.1em;
  }
}

.btn-newgame {
  cursor: pointer;
}

.btn-small {
  display: flex;
  width: 180px;
  justify-content: space-between;

  .btn {
    width: 85px;
    height: 55px;
  }
}

.btn-notes {
  background-color: $note;
  color: white;
  cursor: pointer;
}

/* -------------------
MENU COMPONENTS
------------------- */

.diffculty {
  margin: 0.2em 0 1em 0;
  font-size: 1rem;
  width: 180px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5em;
}

.timer {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
}

/* -------------------
OTHER
------------------- */

.won {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  text-align: center;

  p {
    font-size: 3rem;
    font-weight: 600;
  }
}

.show {
  opacity: 1;
  display: block;
}